nav {
    padding: 5px;
    background-color: aqua;
    color:blueviolet;
    text-align: center;
    border: solid 2px;
}

a {
    color:blueviolet;
    padding-left: 5px;
    text-decoration: none;

}
body {
    background-color:antiquewhite;
    padding-left: 10px;
}

img {
    width: 400px;
    height: 250px;
}